*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    min-height: 100vh;
    color: var(--main-text);
}

:root {
    --main-white: #faf9f7;
    --main-text: #023049;
    --light-grey: #dadbdc;
    --accent-1: #d21700;
    --accent-2: #366c8c;
}

button {
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

#root {
    position: relative;
}

.blue {
    color: var(--accent-2);
}

.red {
    color: var(--accent-1);
}
